body,html{
	margin: 0;
	padding: 0;
	background-color: #666;
	font-size: 19px;
}
.top-header{
	width: 100%;
	height: 70px;
	background-color: #666;
	color: #fff;
}
.top-header  a{
	color: #fff;
}
.top-header h2{
	width: 200px;
	height: 100%;
	font-size: 25px;
	font-family: 新宋体,微软雅黑;
	line-height: 70px;
	margin: 0 0 0 80px;
	text-shadow: 1px 1px 5px rgba(0,10,10,5);
	/*border: 2px solid red;*/
	/*vertical-align:middle;*/
	display: inline-block;
}
.top-header h4{
	display: inline-block;
	line-height: 60px;
	margin-right: 20px;
	float: right;
	font-size: 20px;
	font-family: 新宋体,微软雅黑;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:link {
    color: #fff;
}
.navbar-default{
	background-color: #00BCD4;
}
.navbar-default .navbar-brand {
	font-size: 22px;
	font-family: 新宋体,微软雅黑;
	color: #fff;
}
#footer{
	background-color: #666;
	color:#eee;
/*	border-top: 1px solid #ccc;*/
	padding: 20px;
	text-align: center;
}
.container>.footer_p_a a{
	font-family: 新宋体,微软雅黑;
	color: white;
}
.panel-body>form>article>.text-area{
	overflow: hidden;
	display: inline;
	margin: 0 auto;
/*	margin-left: 150px;*/
}
.panel-body{
	height: 550px;
}
.panel-body>form>article>.btn{
	margin: 10px 0 0 100px;
}

/*小屏幕显示器*/
@media(min-width: 768px){
.text-area{
	height: 160px;
	width: 200px;
}
}
/*中等屏幕显示器*/
@media(min-width: 992px){
.text-area{
	height: 170px;
	width: 300px;
	resize: none;
}
}

/*大屏幕显示器*/
@media(min-width: 1200px){
article{
	width: 500px;
	height: 400px;
	margin-left: 150px;
	display: inline-block;
	vertical-align:middle;
}
aside{
	/*background-color: red;*/
	width: 300px;
	height: 400px;
	margin-left: 30px;
	display: inline-block;
	vertical-align:middle;
}
.text-area{
	height: 170px;
	width: 500px;
	resize: none;
}
}

/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #ccc;
}*/
/*.head-banner{
	width: 100px;
	height: 80px;
	vertical-align:middle;
}*/
